= bootstrap_form_for @application do |f|
  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :applicant, :label => "ФИО", :required => true

  .form-group
    %label
      Вид обращения
    = select_tag "application[appeal_type]", options_from_collection_for_select(@appeal_types, "id", "name"), :include_blank => true, :required => true
    %button.btn.btn-primary.btn-xs{:class => 'glyphicon_btn', 'data-toggle' => 'modal', 'data-target' => '#appeal_type_modal', :title => 'Создать новый вид обращений', :type => 'button'}
      %span.glyphicon.glyphicon-plus

  .form-group
    %label
      Приоритет
    = select_tag "application[priority]", "<option selected='selected' value='низкий'>низкий</option><option value='средний'><span class='glyphicon glyphicon-stop' style='color:yellow;'></span> средний</option><option value='высокий'><span class='glyphicon glyphicon-stop' style='color:red;'></span> высокий</option>".html_safe, :required => true

  .form-group
    = f.text_area :subject, :label => "Суть обращения", :required => true

  .form-group
    = f.text_area :contacts, :label => "Контакты для обратной связи", :required => true

  .actions
    = f.submit 'Сохранить', :class => 'btn btn-primary btn-sm'
    = link_to 'Отмена', applications_path, :class => 'btn btn-default btn-sm', :method => :get

= render partial: 'appeal_type_modal', :locals => {:appeal_type => AppealType.new, :appeal_types => @appeal_types}
