.col-xs-2
  %ul.nav.nav-tabs.tabs-left
    %li.active
      %a{:href => "#a", "data-toggle" => "tab"}
        = "Новые (" + applications[:new].length.to_s + ")"
    %li
      %a{:href => "#b", "data-toggle" => "tab"}
        = "В работе (" + applications[:current].length.to_s + ")"
    %li
      %a{:href => "#c", "data-toggle" => "tab"}
        = "Выполненные (" + applications[:finished].length.to_s + ")"
.col-xs-10
  .tab-content
    .tab-pane.active#a
      = render :partial => 'editable_table', :locals => { :applications => applications[:new] }
    .tab-pane#b
      = render :partial => 'editable_table', :locals => { :applications => applications[:current] }
    .tab-pane#c
      = render :partial => 'table', :locals => { :applications => applications[:finished] }

= render partial: 'appeal_type_modal', :locals => {:appeal_type => AppealType.new, :appeal_types => AppealType.all}
= render partial: 'decision_modal', :locals => {:decision => Decision.new, :decisions => Decision.all}