- if applications.length > 0
  %table.table.table-condensed.col-xs-12.edit_applications
    %thead
      %tr
        %th &nbsp;
        %th.col-xs-2 Время создания
        %th.col-xs-8 Краткое описание
    %tbody
      - applications.each_with_index do |application, index|
        %tr.accordion-toggle{"data-target" => "#" + application.id, "data-toggle" => "collapse"}
          %td
            %button.btn.btn-default.btn-xs
              %span.glyphicon.glyphicon-eye-open
          %td= application.created_at
          %td
            %b= application.applicant + ": "
            = application.subject[0..300] + "..."
        %tr
          %td.hiddenRow{:colspan => "12"}
            %hr
            .accordion-body.collapse{:id => application.id}
              %b ФИО:
              = application.applicant
              %br
              %b Вид обращения
              = ': ' + (application.appeal_type ? application.appeal_type.name : "")
              %br
              %b Приоритет:
              = application.priority
              %br
              %b Суть обращения:
              %br
              = application.subject
              %br
              %b Контакты для обратной связи:
              %br
              = application.contacts
              %br
              %b Решение
              = ': ' + (application.decision ? application.decision.name : "")
              %br
              %b Комментарий:
              = application.comments
              %br
              %b Выполнено:
              %span.edit_status{ 'data-name' => 'status', 'data-url' => "#{application_path(application)}", 'data-pk' => "#{application.id}", 'data-resource' => 'application', 'data-value' => application.status ? 1 : 0 }
            %hr


