= content_for :header do
  Обращения граждан

%table
  %tr
    %th
    %th
    %th
    %th

  - @applications.each do |application|
    %tr
      %td= application.id
      %td= link_to 'Show', application
      %td= link_to 'Edit', edit_application_path(application)
      %td= link_to 'Destroy', application, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= button_to 'Создать обращение', new_application_path, :class => 'btn btn-primary btn-sm', :method => :get
